/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #7fffd4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* HEADER */
header {
    background-color: white;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* logo */
    header .home {
        text-decoration: none;
        color: black;
    }

    header .home img{
        vertical-align: middle;
    }

    header .home h1 {
        display: inline;
        vertical-align: middle;
        margin-left: 1rem;
    }


    /* opzioni gioco */
    header .options select {
        width: 200px;
    }

    header .options button {
        width: 100px;
        cursor: ponter;
    }



/* MAIN */
#grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#grid .box {
    background-color: #7fffd4;
    flex-shrink: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box-10 {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.box-9 {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.box-7 {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

#grid .box:hover {
    background-color: #6495ed;
    color: white;
}



/* FOOTER */
footer {
    width: 100%;
    padding: 1rem 5rem;
    background-color: white;
}