/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #7fffd4;
}

/* HEADER */
header {
    background-color: white;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* logo */
    header .home {
        text-decoration: none;
        color: black;
    }

    header .home img{
        vertical-align: middle;
    }

    header .home h1 {
        display: inline;
        vertical-align: middle;
        margin-left: 1rem;
    }


    /* opzioni gioco */
    header .options select {
        width: 200px;
    }

    header .options button {
        width: 100px;
        cursor: ponter;
    }

/* FOOTER */
footer {
    width: 100%;
    padding: 1rem 5rem;
    background-color: white;
    font-size: .8rem;
    position: absolute;
    bottom: 0;
}